<section id="clientes" class="clientes-section">
    <div class="section-title reveal">
        <span class="experience-badge">Casos de Éxito</span>
        <h2>Empresas que confían en nosotros</h2>
    </div>

    <div class="clientes-grid reveal">
        <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/olmue.png" alt="Fruticola Olmue">
            </div>
        </div>

        <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/coxenergy.png" alt="Cox Energy">
            </div>
        </div>

        <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/seyses.png" alt="SEYSES">
            </div>
        </div>
                <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/comfrut.png" alt="COMFRUT">
            </div>
        </div>
                <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/pps.png" alt="PPS">
            </div>
        </div>
                <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/prize.png" alt="Prize">
            </div>
        </div>
                <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/maxagro.png" alt="MAX Agro">
            </div>
        </div>
                <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/tempofrut.png" alt="Tempofrut">
            </div>
        </div>
                <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/im2energiasolar.png" alt="IM2 Energia Solar">
            </div>
        </div>
                <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/teslaenergy.png" alt="Tesla Energy">
            </div>
        </div>
                <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/oenergy.png" alt="O Energy">
            </div>
        </div>
                <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/dartel.png" alt="Dartel">
            </div>
        </div>
                <div class="cliente-card">
            <div class="cliente-logo-container">
                <img src="public/images/clientes/curimapu.png" alt="Curimapu Seeds">
            </div>
        </div>
        
    </div>
</section>
