<header class="hero" id="inicio">
    <div class="hero-slider">
        <div class="slide-bg" style="background-image: url('/public/images/hero/hero1.webp');"></div>
        <div class="slide-bg" style="background-image: url('/public/images/hero/hero2.webp');"></div>
        <div class="slide-bg" style="background-image: url('/public/images/hero/hero3.webp');"></div>
    </div>

    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1>Ingeniería Eléctrica <br><span>de Vanguardia</span></h1>
        <p>ARAG SPA Ingeniería: Soluciones en Ingeniería y construcción, montaje y puesta en marcha de proyectos fotovoltaicos e industriales.</p>
        <div class="hero-btns">
            <a href="#contacto" class="btn btn-pulse">Empezar Proyecto</a>
        </div>
    </div>
</header>
