<nav class="navbar">
    <a href="#inicio" class="logo">
        <img src="/public/images/logo/aragspa-logo.png" alt="Logo ARAG SPA Ingeniería">
    </a>
    <ul class="nav-links">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#nosotros">Quiénes Somos</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#clientes">Clientes</a></li>
        <li><a href="#por-que-elegirnos">¿Por qué nosotros?</a></li>
        <li><a href="calculadora.html" class="btn-calc">Calculadora Solar</a></li>
        <li><a href="#contacto" class="btn-nav">Contacto</a></li>
    </ul>
</nav>
<nav class="navbar moviles">
    <a href="#inicio" class="logo">
        <img src="aragspa.png" alt="Logo ARAG SPA Ingeniería">
    </a>

    <button class="menu-toggle" id="mobile-menu" aria-label="Abrir menú">
        <i class="fas fa-bars"></i>
    </button>

    <ul class="nav-links" id="nav-list">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#nosotros">Quiénes Somos</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#clientes">Clientes</a></li>
        <li><a href="#por-que-elegirnos">¿Por qué nosotros?</a></li>
        <li><a href="calculadora.html" class="btn-calc">Calculadora Solar</a></li>
        <li><a href="#contacto" class="btn-nav">Contacto</a></li>
    </ul>
</nav>
